<!-- Main navigation -->
<nav>

	<h2 class="sr-only">Navigation Menu</h2>
	
	<!-- Navigation Wrapper -->
	<div class="container mx-auto px-5 py-5 md:py-8">

		<!-- Navigation Flex Box -->
		<div class="flex justify-between flex-wrap items-center">

			<!-- CDESG brand and logo -->
			<div class="">

				<a href="{{ "/" | relURL }}">
					<img class="h-12 sm:h-16" src="/images/logo/brand.png" alt="Logo for the CDESG" />
					<span class="sr-only">Canadian Development Economic Study Group</span>
				</a>

			</div>

			<!-- Menu items -->
			{{/*
			<div class="hidden fixed inset-0 h-100 bg-brand-accent z-50 flex flex-col justify-center lg:relative lg:block lg:h-auto lg:bg-transparent " id="menu">

				<ul class="list-none flex flex-col items-center text-white tracking-wide text-2xl lg:pt-0 lg:flex-row font-semibold lg:text-brand-accent lg:text-xl">
					<li><a class="lg:hidden hover:underline" href="{{ "/" | relURL }}">Home</a></li>
					<li><a class="hover:underline" href="{{ "/about" | relURL }}">About</a></li>
					<li><a class="lg:pl-8 hover:underline" href="{{ "/news" | relURL }}">News</a></li>
					<li><a class="lg:pl-8 hover:underline" href="{{ "/members" | relURL }}">Members</a></li>
					<li><a class="lg:pl-8 hover:underline" href="{{ "/contact" | relURL }}">Contact</a></li>
				</ul>

			</div>
			<!-- The Close and Open Menu markup will be added by javascript -->
			*/}}
		</div>

	</div>

</nav>
<!-- End main navigation -->