<!-- Main navigation -->
<nav>

	<h2 class="sr-only">Navigation Menu</h2>
	
	<!-- Navigation Wrapper -->
	<div class="container mx-auto px-5 py-5 md:py-8">

		<!-- Navigation Flex Box -->
		<div class="flex justify-between flex-wrap items-center">

			<!-- CDESG brand and logo -->
			<div class="">

				<a href="{{ "/" | relURL }}">
					<img class="h-12 sm:h-16" src="/images/logo/brand.png" alt="Logo for the CDESG" />
					<span class="sr-only">Canadian Development Economic Study Group</span>
				</a>

			</div>

			<!-- Menu items -->
			<div class="hidden lg:block">
				<ul class="list-none flex flex-row font-semibold text-brand-accent text-xl tracking-wide">
					<li><a class="hover:underline" href="{{ "/about" | relURL }}">About</a></li>
					<li><a class="pl-8 hover:underline" href="{{ "/news" | relURL }}">News</a></li>
					<li><a class="pl-8 hover:underline" href="{{ "/members" | relURL }}">Members</a></li>
					<li><a class="pl-8 hover:underline" href="#">Contact</a></li>
				</ul>

			</div>

			<div class="block lg:hidden">
				<button
					class="flex items-center px-3 py-2 text-brand-accent hover:text-white hover:border-white hover:bg-brand-accent rounded-lg">
					<span class="pr-2 font-bold">Menu</span> 
					<svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
			</div>

		</div>

	</div>

</nav>
<!-- End main navigation -->