<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/metadata" . }}{{ partial "site/metadata.html" . }}{{ end }}

        {{ block "site/favicon" . }}{{ partial "site/favicon.html" . }}{{ end }}

        {{ block "site/opengraph" . }}{{ partial "site/opengraph.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    </head>
    <body class="bg-brand-gray-100 text-gray-800">

        {{ block "site/skiplinks" . }}{{ partial "site/skiplinks.html" . }}{{ end }}

        {{ block "site/header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main role="main">
            {{ block "main" . }}{{ end }}
        </main>

        {{ block "site/footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>
