<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/metadata" . }}{{ partial "site/metadata.html" . }}{{ end }}

        {{ block "site/favicon" . }}{{ partial "site/favicon.html" . }}{{ end }}

        {{ block "site/opengraph" . }}{{ partial "site/opengraph.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    </head>
    <body class="bg-gray-100 text-gray-800">

        {{ block "main" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>
