{{ define "main" }}

    <!-- Page wrapper -->
    <div class="flex justify-center">

        <!-- Row -->
        <div class="w-full flex flex-col-reverse md:flex-row">

            <!-- Column -->
            <div class="w-full h-auto md:min-h-screen flex flex-col">

                <div class="m-10">

                    <img class="w-4/6 mb-5 md:mb-24 xl:w-3/6" src="/images/logo/brand.png" alt="Logo for the CDESG" />

                    <h1 class="sr-only">Canadian Development Economic Study Group</h1>
                    
                    <p class="text-6xl font-extrabold leading-tight">Coming soon</p>

                    <p class="text-5xl font-semibold leading-tight py-10">We are working hard to launch our new website.</p>

                    <p>For immediate inquiries please contact <a class="font-bold text-brand-orange" href="mailto:cdesgorg@gmail.com">cdesgorg@gmail.com</a></p>

                </div>
               
            </div>

            <!-- Column -->
            <div class="w-full h-auto md:min-h-screen bg-gray-100 md:bg-brand-orange flex flex-col justify-center">
                
                <img class="w-full md:p-12 lg:p-24 xl:p-40 hidden md:block object-contain" src="/images/coming-soon/build-illustration.png" alt="" />
    
            </div>

        </div>

    </div>


{{ end }}